:root {
  --page-background: rgb(231 229 229);
  --page-font-color: #bdc1c6;
}

.page {
  min-height: 100vh;
  background-color: var(--page-background);
  font-family: 'Century Gothic', Arial, Helvetica, Sans-serif;
  color: var(--page-font-color);
}

.page__container {

}


